<section id="beer-list" class="cf">
	<ul>
		<% @beers.each do |beer| %>
		<li class="full">
			<article class="cf">
				<% case beer.location.status %>
				<% when "SERVING" %>
					<b class="pouring">Pouring</b>
				<% when "LOW" %>
					<b class="low">Low</b>
				<% when "NEXT" %>
					<b class="next">On Soon</b>
				<% end %>
					<h2><%= beer.brewer.name %> <i><%= beer.name %></i></h2>
		  			<p>
						<%= beer.style.name %><br>
						<%= beer.brewer.location %> &mdash; ABV <%= number_to_percentage(beer.abv, precision: 1) %>
		  			</p>
			</article>
			<div class="price 500ml">
		  		500ml<br>
		  		<%= number_to_currency(((beer.price * Beer.markup("tap"))/(beer.format.size/0.5)).round(1), precision: 2) %>
			</div>
			<div class="price 250ml">
		  		250ml
		  		<%= number_to_currency(((beer.price * Beer.markup("tap"))/(beer.format.size/0.25)).round(1), precision: 2) %>
			</div> 
	  	</li>
		<% end %>
	</ul>
	<ul>
	<% @beers.each do |beer| %>
		<li></li>
	<% end %>
	</ul>
	</ul>
</section>

