<p id="notice"><%= notice %></p>

<p>
  <strong>Beer name:</strong>
  <%= @beer.name %>
</p>

<p>
  <strong>Brewer:</strong>
  <%= @beer.brewer.name %>
</p>

<p>
  <strong>Beer format:</strong>
  <%= @beer.format.name %>
</p>

<p>
  <strong>Beer price:</strong>
  <%= number_to_currency(@beer.price, precision: 2) %>
</p>

<p>
  <strong>Style:</strong>
  <%= @beer.style.name %>
</p>

<p>
  <strong>Beer abv:</strong>
  <%= number_to_percentage(@beer.abv, precision: 2) %>
</p>

<p>
  <strong>Beer note:</strong>
  <%= @beer.note %>
</p>

<p>
  <strong>Location:</strong>
  <%= @beer.location.name %>
</p>

<p>
  <strong>Pricing: </strong>
  <p><strong>500ml : <%= number_to_currency(Beer.pricefor(@beer, 500, "tap").round(1), precision: 2) %></strong></p>
  <p><strong>250ml : <%= number_to_currency(Beer.pricefor(@beer, 250, "tap").round(1), precision: 2) %></strong></p>
  <p><strong>1125ml : <%= number_to_currency(Beer.pricefor(@beer, 1125, "off").round(1), precision: 2) %></strong></p>
  <p><strong>1500ml : <%= number_to_currency(Beer.pricefor(@beer, 1500, "off").round(1), precision: 2) %></strong></p>
  <p><strong>2000ml : <%= number_to_currency(Beer.pricefor(@beer, 2000, "off").round(1), precision: 2) %></strong></p>
  <p><strong>3000ml : <%= number_to_currency(Beer.pricefor(@beer, 3000, "off").round(1), precision: 2) %></strong></p>
</p>

<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
